<nav>
    <div class="container">
      <img src="assets/logo-icon/vervoerregio-logo.svg" height="auto" width="200px" width="100px" role="presentation">
      <ul>
        <li>
          <a href="/" class="mobilehide">Home</a>
        </li>
        <li>
          <a href="/projectboard" class="mobilehide">Projectboard</a>
        </li>
        <li>
          <a href="/toolboard" class="mobilehide">Toolboard</a>
        </li>
        <li>
            <a href="/contact" class="mobilehide">Contact</a>
          </li>
      </ul>
    </div>
  </nav>
