<!DOCTYPE html>
<html lang="nl">

<head>
  <meta name="keywords" content="Vervoerregio Amsterdam wcag" />
  <meta name="description" content="Vervoerregio Amsterdam wcag" />
  <meta name="author" content="Wesley Schorel" />

  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Vervoerregio Amsterdam wcag</title>
  <link rel="icon" type="image/png" href="assets/logo-icon/va-favicon.svg" />
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

  <link rel="stylesheet" href="/style.css" />
  <script src="/script.js" defer></script>
</head>

<body>