<header class="header" id="top">
    <div class="container">
      <div>
        <h1>Maak het web Toegankelijk</h1>
        <p>
          Samen met deze toegankelijkheids-tool maakt u eenvouding websites en apps toegankelijker, geleidt door de WCAG
          principes en richtlijnen. <span class="mobilehide">Lees meer over de toegankelijkheids eisen en help het web
            toegankelijk te maken voor
            iedereen.</span>
          <br><br>
          <button onclick="location.href='/toolboard';" style="cursor: pointer;">Bekijk Toolboard</button>
        </p>
      </div>
      <img src="assets/logo-icon/vervoerregio-logo-icons-cirkel.svg" alt="Hero Image" width="130%" class="mobilehide" />
    </div>
  </header>

