<%- include('./partials/head') %>
<%- include('./partials/header') %>

<form action="/new" method="post">

    <label>
        Partner:
        <select name="websiteId" id="websiteId">
          <option value="lf7ymhtc055k0bw0bufs69q3">Vervoerregio Amsterdam</option>
          <option value="cle6xd3nz2k910bw003pdleif">Gvb</option>
        </select>
      </label>

    <label>
        Website URL: 
        <input type="url" name="url" id="url" value="<%= locals.values?.url ?? '' %>" >
    </label>

    <button type="submit">Toevoegen</button>
</form>

<%- include('./partials/foot') %>