* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  --c-white: #fff;
  --c-black: #000;

  --c-pink: #E30059;
  --c-blue: #606EB3;
  --c-gray: #ededed;
}

body {
  font-family: sans-serif;
  font-size: 1rem;
  color: var(--c-black);
  background: var(--c-gray);
}

/* 
██████╗ ██╗   ██╗████████╗████████╗ ██████╗ ███╗   ██╗
██╔══██╗██║   ██║╚══██╔══╝╚══██╔══╝██╔═══██╗████╗  ██║
██████╔╝██║   ██║   ██║      ██║   ██║   ██║██╔██╗ ██║
██╔══██╗██║   ██║   ██║      ██║   ██║   ██║██║╚██╗██║
██████╔╝╚██████╔╝   ██║      ██║   ╚██████╔╝██║ ╚████║
╚═════╝  ╚═════╝    ╚═╝      ╚═╝    ╚═════╝ ╚═╝  ╚═══╝
*/

button {
  color: #ffff;
  transition: all 0.3s ease-in-out;
  background-color: #E30059;
  font-size: 16px;
  border: none;
  padding: 15px 50px;
  margin: 1rem auto 0rem;
  cursor: pointer;
  border-radius: 12px;
}

button:hover {
  color: #ffff;
  background: rgb(249, 0, 100);
}

/* 
███╗   ██╗ █████╗ ██╗   ██╗
████╗  ██║██╔══██╗██║   ██║
██╔██╗ ██║███████║██║   ██║
██║╚██╗██║██╔══██║╚██╗ ██╔╝
██║ ╚████║██║  ██║ ╚████╔╝ 
╚═╝  ╚═══╝╚═╝  ╚═╝  ╚═══╝   
*/

nav {
  position: sticky;
  top: 0;
}

nav ul {
  list-style-type: none;
  font-size: 20px;
  margin: 0;
  padding: 0.5rem;
  overflow: hidden;
  background-color: var(--c-white);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 3px 6px -1px, rgba(0, 0, 0, 0.3) 0px 1.5px 3.5px -1.5px;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: var(--c-black);
  text-align: center;
  padding: 1rem 1rem;
  text-decoration: none;
}

nav li a:hover {
  color: var(--c-pink);
}

/* 
███╗   ███╗ █████╗ ██╗███╗   ██╗
████╗ ████║██╔══██╗██║████╗  ██║
██╔████╔██║███████║██║██╔██╗ ██║
██║╚██╔╝██║██╔══██║██║██║╚██╗██║
██║ ╚═╝ ██║██║  ██║██║██║ ╚████║
╚═╝     ╚═╝╚═╝  ╚═╝╚═╝╚═╝  ╚═══╝ 
*/

main {
  width: 85%;
  padding: 1.7rem;
  margin: 0rem auto 1rem;
}

/* 
 █████╗ ██████╗ ████████╗██╗ ██████╗██╗     ███████╗
██╔══██╗██╔══██╗╚══██╔══╝██║██╔════╝██║     ██╔════╝
███████║██████╔╝   ██║   ██║██║     ██║     █████╗  
██╔══██║██╔══██╗   ██║   ██║██║     ██║     ██╔══╝  
██║  ██║██║  ██║   ██║   ██║╚██████╗███████╗███████╗
╚═╝  ╚═╝╚═╝  ╚═╝   ╚═╝   ╚═╝ ╚═════╝╚══════╝╚══════╝ 
*/

article {
  width: 80.5vw;
  background-color: white;
  color: black;
  border-radius: 12px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 3px 6px -1px, rgba(0, 0, 0, 0.3) 0px 1.5px 3.5px -1.5px;
  padding: 1rem 1rem;
  margin: 3rem auto 1rem;
}

article h1 {
  font-size: 4rem;
}

/* 
██████╗ ██████╗  ██████╗      ██╗███████╗ ██████╗████████╗███████╗
██╔══██╗██╔══██╗██╔═══██╗     ██║██╔════╝██╔════╝╚══██╔══╝██╔════╝
██████╔╝██████╔╝██║   ██║     ██║█████╗  ██║        ██║   ███████╗
██╔═══╝ ██╔══██╗██║   ██║██   ██║██╔══╝  ██║        ██║   ╚════██║
██║     ██║  ██║╚██████╔╝╚█████╔╝███████╗╚██████╗   ██║   ███████║
╚═╝     ╚═╝  ╚═╝ ╚═════╝  ╚════╝ ╚══════╝ ╚═════╝   ╚═╝   ╚══════╝ 
*/

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16em, 1fr));
  grid-auto-rows: 18rem;
  gap: 12px;
}

.project-list .info {
  background-color: var(--c-white);
  border-radius: 12px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 3px 6px -1px, rgba(0, 0, 0, 0.3) 0px 1.5px 3.5px -1.5px;
  padding: 1rem 1rem;
  margin: 0rem 0rem 1rem;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.project-list .info a{
  color: var(--c-blue);
  text-decoration: none;
}

/* 
██████╗ ██╗ █████╗ ██╗      ██████╗  ██████╗ 
██╔══██╗██║██╔══██╗██║     ██╔═══██╗██╔════╝ 
██║  ██║██║███████║██║     ██║   ██║██║  ███╗
██║  ██║██║██╔══██║██║     ██║   ██║██║   ██║
██████╔╝██║██║  ██║███████╗╚██████╔╝╚██████╔╝
╚═════╝ ╚═╝╚═╝  ╚═╝╚══════╝ ╚═════╝  ╚═════╝  
*/

dialog {
  padding: 1rem;
  margin: auto;
  min-height: 360px;
  min-width: 450px;
  height: 360px;
  width: 450px;
  background-color: var(--c-white);
  border-radius: 12px;
}

dialog::backdrop {
  background: #00000083;
  backdrop-filter: blur(5px);
}

/* 
███████╗ ██████╗ ██████╗ ███╗   ███╗
██╔════╝██╔═══██╗██╔══██╗████╗ ████║
█████╗  ██║   ██║██████╔╝██╔████╔██║
██╔══╝  ██║   ██║██╔══██╗██║╚██╔╝██║
██║     ╚██████╔╝██║  ██║██║ ╚═╝ ██║
╚═╝      ╚═════╝ ╚═╝  ╚═╝╚═╝     ╚═╝ 
*/

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
}

form h2 {
  color: #000;
  font-weight: 600;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  margin: 0.3rem;
}

form label {
  color: #000;
  font-weight: 600;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}

form input {
  background-color: lightgray;
  border-radius: 12px;
  padding: 1rem;
}

input textarea {
  width: 100%;
  resize: none;
}

select {
  background-color: lightgray;
  border-radius: 12px;
  padding: 1rem;
}

details {
  width: 300px;
  background: #f2f2f2;
  padding: 10px;
  font-family: sans-serif;
}
details summary {
  font-weight: bold;
}
details summary::-webkit-details-marker {
  display: none;
}
details p {
  margin: 0;
  padding-left: 10px;
}

input:invalid {
  border: 2px solid red;
}

input:valid {
  border: 3px solid black;
}



/* BACK TO TOP */

.top{
  width: 70px;
  height: 70px;
  background: #444444;
  border-radius: 50%;
  position: fixed;
  bottom:20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 769px) {
  .top {
    display: none;
  }
}





@media (max-width: 769px) {
  main {
    width: 100%;
    padding: 1.7rem;
    margin: 0rem auto 1rem;
  }

  article {
    width: 84.5vw;
    background-color: white;
    color: black;
    border-radius: 12px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 3px 6px -1px, rgba(0, 0, 0, 0.3) 0px 1.5px 3.5px -1.5px;
    padding: 1rem 1rem;
    margin: 3rem auto 1rem;
  }
  
  article h1 {
    font-size: 2rem;
  }
}




